<script setup lang="ts">
import { useAddressStore } from '@/stores/addressBook'

const addressBookSotre = useAddressStore()
</script>

<template>
  <div>
    <button @click="addressBookSotre.isAddNew = !addressBookSotre.isAddNew">Add</button>
    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Tel</th>
        <th>Operation</th>
      </tr>
      <tr v-for="ad of addressBookSotre.addressList" :key="ad.id">
        <td>{{ ad.id }}</td>
        <td>{{ ad.name }}</td>
        <td>{{ ad.gender }}</td>
        <td>{{ ad.tel }}</td>
        <td>
          <button @click="addressBookSotre.edit(ad.id)">Edit</button>
          <button @click="addressBookSotre.remove(ad.id)">Delect</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
input,
select,
label,
button {
  font-family: 'kanit';
  font-size: 16pt;
  margin: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #45a049;
  color: white;
}
</style>
