<script setup lang="ts">
import { useAddressStore } from '@/stores/addressBook';

const addressBookSotre = useAddressStore()
</script>

<template>
    <div v-if="addressBookSotre.isAddNew">
      <div>
        <label for="name">name:</label>
        <input id="name" type="text" v-model="addressBookSotre.address.name" placeholder = "Your name.."/>
      </div>
      <div>
        <label for="gender">gender:</label>
        <select id="gender" v-model="addressBookSotre.address.gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div>
        <label for="tel">tel:</label>
        <input id="tel" type="text" v-model="addressBookSotre.address.tel" placeholder = "Your Tel Number.."/>
      </div>
      <div>
        <button @click="addressBookSotre.clear()">Clear</button>
        <button @click="addressBookSotre.cancle()">Cancle</button>
        <button @click="addressBookSotre.save()">Save</button>
      </div>
    </div>
</template>

<style scoped>
input,
select,
label,
button {
  font-family: 'kanit';
  font-size: 16pt;
  margin: 5px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 5px 7px;
  border: none;
  border-radius: 4px;
  cursor: auto;
}

button:hover {
  background-color: #45a049;
}

div {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 10px;
}
</style>