<script setup lang="ts">
import numberButton from '@/components/numberButton.vue';
import { ref } from 'vue';
const num1 = ref(0)
function num1Click(num: number) {
    console.log('Num1 Click: ' + num)
    num1.value = num
}

</script>

<template>
<div style="text-align: center; ">
    <img style="width: 300px; border-radius: 40%;" src="../assets/rentarou.png" alt="Rentarou">
    <h3>สวัสดีชาวโลก ผม เอง</h3>
    {{ num1 }}<numberButton :num="1" @num-click="num1Click"></numberButton>
    <numberButton :num="2"></numberButton>
    <numberButton :num="3" :inc="5"></numberButton>
</div>
</template>
